body{
    padding-top:6em;
}
.heading {
    font-size: 30px;
    text-align: center;
}

table {
    padding: 0 20px 20px;
    background-color: darkgray;
    margin: 0 auto;
}

.btns {
    height: 40px;
    width: 40px;
    color: black;
    background-color: white;
    cursor: pointer;
}

btns:hover {
    background: #cbcbcb;
    cursor: pointer;
}

#txtInput1, #txtInput2 {
    width: 167px;
    height: 30px;
    font-size: 100%;
    text-align: left;
}

